@model ResetPasswordModel
@section Styles{
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <style>
        ul {
            list-style-type: none;
        }
    </style>
}


 <div class="signup-form fadeInDown">
    <form asp-action="ResetPassword" id="signUpForm" method="post">
		<h2 class="fadeIn first">Şifremi Unuttum</h2>
		<p class="fadeIn first">Aşağıdaki formu doldurarak şifreni sıfırlayabilirsin</p>
		<hr>
        <div class="form-group">
            <input asp-for="@Model.Code" type="text" class="form-control fadeIn second" placeholder="Kodunuz">
        </div>
        <div class="form-group">
            <input asp-for="@Model.Password" type="password" class="form-control fadeIn second" placeholder="Şifreniz">
        </div>
		<div class="form-group">
            <input type="password" asp-for="@Model.CheckPassword" class="form-control fadeIn second" placeholder="Şifrenizi onaylayın" >
        </div>
		<div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg fadeIn third">Şifreyi Değiştir</button>
        </div>
        <div asp-validation-summary="All" class="text-danger">

        </div>
    </form>
	<div class="hint-text fadeIn fourth "><a class="underlineHover" asp-controller="Auth" asp-action="LogIn">Geri Dön</a></div>
</div>


@section JavaScript{
  <script src="/lib/popper/popper.min.js"></script>
  <script>
  jQuery.extend(jQuery.validator.messages, {
    email: "Lütfen geçerli bir email adresi giriniz.(a@b.c)"
  });
  </script>


}