@model ProfileViewModel

<div class="container">
    <div class="row py-3">
        <div class="col-8">
            <p><b>Email:</b> @Model.Email</p>
            <p><b>Kullan覺c覺 Ad覺:</b> @Model.Username</p>
            <p><b>Tam Ad覺:</b> @Model.FullName</p>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <getproductimage id=1></getproductimage>
                </div>
            </div>
        </div>
    </div>
</div>